#!/bin/bash

set -eu

#shellcheck source=/dev/null
source "$(pwd)/.venv/bin/activate"
unset PS1

export PYTHONPATH="$PWD/src:$PWD/.venv/lib/python3.13/site-packages/:${PYTHONPATH:-}"
export CODON_DIR="$HOME/.codon/bin/codon"
